@using ETicaret.Net8.Models
@model Category


<form method="post">
    <input asp-for="Id" type="hidden" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-dark">Kategori Kaldır</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Name" disabled/>
       
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input type="text" class="form-control" asp-for="DisplayOrder" disabled />
        
        </div>
        <div class="row">
            <div class="col-md-3 px-3">
                <button class="btn btn-outline-danger px-4 mt-3" type="submit">Kategori Kaldır</button>
            </div>
            <div class="col-md-3 px-3">
                <a class="btn btn-outline-secondary px-4 mt-3 mx-3" asp-area="Admin" asp-controller="Category" asp-action="Index">Anasayfa Geri Dön</a>
            </div>
        </div>


    </div>
</form>